/*Style imports*/


/* General Styles */

:root {
  --chat-background:  #F1F0FF;
  --message-background:  #443266;
  --message-text: #C3C3E5;
  --channels-section-background: 	hsl(244, 55%, 76%);
}
* {
  padding: 0px;
  margin: 0px;
  font-family: Poppins, Helvetica, sans-serif;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}


#title {
  padding: 20px 0px 20px 0px;
  text-align: center;
  width: 100%;
}
button {
  appearance: none;
  background: none;
  border: 0px;
  margin: 0px;
}

button .icon{
  color: inherit;
}

#container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 66vh;
}

.chat-form {
  display: flex;
  justify-content: space-between;
}


.chat-input {
  width: 630px;
  height: 35px;
  border: solid 1px #444;
  padding: 0px 5px 0px 5px;
}
.chat-submit {
  
}
.icon {
  font-size: 20px;
  text-align: center;
}

label[for="chat-file"] {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

#chat-file {
  /*padding: 5px 0px 5px 0px;*/
}
.chat-window {
  overflow-y: scroll;
}

/* hide scrollbar but allow scrolling */
.scrolleable-without-bar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.scrolleable-without-bar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* hide scrollbar but allow scrolling */
.chat-window {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.chat-window::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.user-message {
  padding-bottom: 25px;
}

.user-message .text,  .user-message .files{
  display: flex;
  width: calc(100% - 35px - 2*10px);
  margin-top: 14px;
  flex-direction: column;
  grid-gap: 10px;
  margin-left: 35px;
}

.user-message #user-icon {
  margin-right: 5px;
  font-size: 15px;
}

.user-message .files .file {
  --file-padding: 8px;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
  padding: var(--file-padding);
  color: var(--message-text);
}

.user-message .files .file.code {
  flex-direction: column;
  grid-gap: var(--file-padding);
}

.user-message .files .file .bottom {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.user-message .files .file .bottom .info{
  flex-direction: row;
  grid-gap: 10px;
}

pre {
  display: flex;
}

.user-message .files .file > *{
  color: inherit;
}

.user-message .files .file .bottom > *{
  color: inherit;
}

.user-message .files img.file {
  width: calc(35% - 2*var(--file-padding));
  height: auto;
}

.user-message .files .file .info {
  display: flex;
  flex-direction: column;
}

.user-message .files .file .info .name{
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.user-message .files .file .info .size{
  font-size: 15px;
}

.user-message .files .file .icon.represent {
  font-size: 40px;
  margin-right: 10px;
}

.user-message .files .file .icon.download {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.user-message .files .file {
  background-color: var(--message-background);
  color: var(--message-text);
  border-radius: 10px;
}

.user-message .files .file code{
  height: 150px;
  overflow: hidden;
}

#chatSection {
  float: left;
  border: 1px grey solid;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  background: var(--chat-background);
  width: calc(80% - 2*10px - 2*1px);
}

#channels-section {

  --channel-title: 22px;
  --channel-add: 30px;
  --font-color: #222;
  display: flex;
  float: left;
  flex-direction: column;
  width: calc(20% - 2*10px - 2*1px);
  border-radius: 10px 0px 0px 10px;
  border: 1px solid grey;
  border-right: 0px;
  padding: 10px;
  background: var(--channels-section-background);
  color: var(--font-color);
}

#channels-section .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin-bottom: 15px;
  cursor: pointer;
}

#channels-section .title h2 {
  font-size: var(--channel-title);
  font-weight: 600;
  transform: translate(-10px);
}

#channels-section .title .hide{
  font-size: var(--channel-title);
}

#channels-section .title .icon.add {
  font-size: var(--channel-add);
  line-height: var(--channel-add);
}

#channels-section .channels {
  padding-left: 13px;
  grid-gap: 7px;
}

#channels-section .channels .channel{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: var(--message-background);
  color: var(--message-text);
  padding: 3px;
  border: 1px solid grey;
  border-radius: 9px;
  padding-left: 7px;
  cursor: pointer;
}

#channels-section .channels .channel > *:hover:not(.no-light) {
  color: white;
}

/*form */
.form-wrap {
  display: flex;
  flex-direction: column;
  --general-padding: 8px;
  --inter-padding: 20px;
  background: #ccc;
  padding: var(--general-padding) var(--general-padding) var(--general-padding) var(--general-padding);
  grid-row-gap: var(--inter-padding);
  border-radius: 10px;
  border: 1px solid #444;
  background-color: var(--message-background);
}

/*File Previsualization*/
.form-wrap.without-files {
  padding-top: var(--general-padding);
}

.form-wrap.with-files {
  padding-top: var(--inter-padding);
}

.form-wrap, form, form button {
  color: var(--message-text);
}

.file-prevs {
  --file-prevs-padding: 20px;
  display: none;
  grid-gap: 10px;
  padding: 0px var(--file-prevs-padding) 0px var(--file-prevs-padding);
  overflow-x: scroll;
  max-width: calc(100% - 2*var(--file-prev-padding));
}

.file-prev {
  --file-prev-padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100px;
  overflow: hidden;
  position: relative;
  background: #444;
  border-radius: 10px;
  padding: var(--file-prev-padding);
  padding-right: calc(var(--file-prev-padding) - 7px);
  justify-content: space-between;
}

.file-prev .icon {
  --height: 100px;
  font-size: 60px;
  height: var(--height);
  width: auto;
  line-height: var(--height);
}

.file-prev .image-icon {

}

.file-prev .file-name {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}