/* General Styles */

:root {
  --chat-background:  #F1F0FF;
  --message-background:  #443266;
  --message-text: #C3C3E5;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

#title {
  padding: 20px 0px 20px 0px;
  text-align: center;
}
button {
  appearance: none;
  background: none;
  border: 0px;
  margin: 0px;
}

button .icon{
  color: inherit;
}

#container {
  width: 800px;
  margin: 0 auto;
}

.chat-form {
  display: flex;
  justify-content: space-between;
}


.chat-input {
  width: 400px;
  height: 35px;
  border: solid 1px #444;
  padding: 0px 5px 0px 5px;
}
.chat-submit {
  
}
.icon {
  font-size: 20px;
  text-align: center;
}

label[for="chat-file"] {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

#chat-file {
  /*padding: 5px 0px 5px 0px;*/
}
.chat-window {
  height: 60vh;
  overflow-y: scroll;
}

/* hide scrollbar but allow scrolling */
.scrolleable-without-bar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.scrolleable-without-bar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* hide scrollbar but allow scrolling */
.chat-window {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.chat-window::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.user-message {
  padding-bottom: 25px;
}

.user-message .text,  .user-message .files{
  display: flex;
  width: calc(100% - 35px - 2*10px);
  margin-top: 14px;
  flex-direction: column;
  grid-gap: 10px;
  margin-left: 35px;
}

.user-message #user-icon {
  margin-right: 5px;
  font-size: 15px;
}

.user-message .files .file {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
  padding: 8px 14px;
}

.user-message .files .file .info {
  display: flex;
  flex-direction: column;
}

.user-message .files .file .info .name{
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.user-message .files .file .info .size{
  font-size: 15px;
}

.user-message .files .file .icon.represent {
  font-size: 40px;
  margin-right: 10px;
}

.user-message .files .file .icon.download {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.user-message .files .file {
  background-color: var(--message-background);
  color: var(--message-text);
  border-radius: 10px;
}

#chatSection {
  float: left;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px;
  background: var(--chat-background);
}

/*form */
.form-wrap {
  display: flex;
  flex-direction: column;
  --general-padding: 8px;
  --inter-padding: 20px;
  background: #ccc;
  padding: var(--general-padding) var(--general-padding) var(--general-padding) var(--general-padding);
  grid-row-gap: var(--inter-padding);
  border-radius: 10px;
  border: 1px solid #444;
  background-color: var(--message-background);
}

/*File Previsualization*/
.form-wrap.without-files {
  padding-top: var(--general-padding);
}

.form-wrap.with-files {
  padding-top: var(--inter-padding);
}

.form-wrap, form, form button {
  color: var(--message-text);
}

.file-prevs {
  --file-prevs-padding: 20px;
  display: none;
  grid-gap: 10px;
  padding: 0px var(--file-prevs-padding) 0px var(--file-prevs-padding);
  overflow-x: scroll;
  max-width: calc(100% - 2*var(--file-prev-padding));
}

.file-prev {
  --file-prev-padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100px;
  overflow: hidden;
  position: relative;
  background: #444;
  border-radius: 10px;
  padding: var(--file-prev-padding);
  padding-right: calc(var(--file-prev-padding) - 7px);
  justify-content: space-between;
}

.file-prev .icon {
  --height: 100px;
  font-size: 60px;
  height: var(--height);
  width: auto;
  line-height: var(--height);
}

.file-prev .image-icon {

}

.file-prev .file-name {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}